*{
	margin: 0;padding: 0;
	
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
*::before{
	box-sizing: border-box;
}
html, body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: #F2F9ED;
}
.mainHeading{
	color: #47A200;
	text-align: center;
}
.mainHeading h1::after{
	content: ' Everyday';
	color: #61481C;
}
.mainContainer{
	border: 2.5px solid #0000001A;
	margin-bottom: 20px;
	height: 530px;
	max-width: 645px;
	background-color: #FBFBFB;
	border-radius: 15px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
.main{
	/* display: flex;
	justify-content: center ; */
	margin-top: 50px;
	padding: 10px;
	
	

}
img{
	margin-left: 5px;
	/* border: 2px solid black ; */
	height: 35px;
}
h2{
	display: flex;
	gap: 6.7px;

}
.reminderText{
	color: #858585;
	font-size: 14px;
	transition: all 0.5s ease;
	margin-top: 10px;
	margin-bottom: 15px;
}
.progressBar{
	width: 100%;
	height: 20px;
	background-color: #48A3001A;
	border-radius: 15px;


}
.warningMessage{
	font-size: 14px;
	color: #FF5151;
	margin-top: 10px;
	margin-bottom: 10px;
}
.inputGoals{
	border: none;
	background-color: #FFFFFF;
	width: 90%;
	height: 90%;
	/* border: 1px solid black; */
}
.inputGoals:focus{
	/* border: 1px solid black; */
	outline: none;
}
.inputContainer{
	width: 100%;
	background-color: #FFFFFF;
	border: 1.5px solid #0000001A;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 13px;
	border-radius: 10px;
	transition: 0.2s ease-in;
	margin-bottom: 20px;

}
.circle{
	height: 16px;
	width: 16px;
	border: 2px solid #61481C4D;
	border-radius: 20.5px;
	margin-left: 10px;
	transition: 0.15 ease;
}
.inputContainer:focus-within{
	border-width: 1.5px;
	border-color: blue;
}
.circle:hover{
	border-color: #1000a3;
	border-width: 2.2px;
	cursor: pointer;
	
}
footer{
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
	margin-top: 45px;
	font-size: 12px;
	font-weight: 500;
}
.smallMessage{
	font-size: 9px;
	color: red;
}
.add{
	background-color: rgb(233, 93, 98);
	height: 25px;
	width: 45px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	color: white;
	font-weight: 600;
	border-radius: 15%;
	cursor: pointer;
}
.finalTask{
	position: relative;
	font-size: 14px;
	font-weight:500 ;
	width: 90%;
	height: 90%;
	display: flex;
	justify-content: start;
	align-items: center;
	/* border: 1px solid black; */
	
	--before-width:0px;
  /* text-decoration-skip-ink: none;  */


}

.finalTask::before{
	content: '';
	position: absolute;
	top: 50%;
	height: 1.8px;
	width: 0px;
	background-color: #48A300;
	transition: width 0.5s ease;
	transform: translateY(-50%);
	
}
.markedTask::before{
	width: var(--before-width);
}
.icon{
	height: 30px;
	transition: 0.15s ease;
	margin-right: 20px;
	
}

.icon:hover{
	filter: brightness(0.8);
	

}
.completedTask{
  color: #48A300;
}
.completedLogo{
	height: 15px;
	margin-left: 10px;
	transition: 0.15 ease;
}
.done{
	height: 30px;
	
	margin-right: 20px;
}
.warningMessage{
	opacity: 0;
}
.progressValue{
	height: 100%;
	width: 0%;
	background-color: #48A300;
	border-radius: inherit;
	transition: all 0.5s ease-in-out;
	color: white;
	font-weight: 600;
	font-size: 9px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	
}
.progressMessage{
	margin-left: 20px;
	white-space: nowrap;
	color: #d7a143;
	transition: all 1s ease;
}
@media (max-width: 468px){
	.finalTask{
		font-size: 10px;
	}
	.finalTask::before{
		height: 1.2px;
	}
	.reminderText{
		font-size: 10px;
	}
	footer{
		font-size: 10px;
	}
	.inputGoals{
		font-size: 9px;
	}
	.mainContainer{
		padding: 5px;
	}
	.circle{
		height: 12px;
		width: 12px;
		flex-shrink: 0;
	}
}